body {
  margin: 0;
  padding: 0;

  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;

  background-color: #f5f5f5;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

button {
  padding: 0 7px;

  font: inherit;

  border: 0;
  background: none;
  cursor: pointer;
  opacity: 0.7;
  outline: transparent;
}
