.filters {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
}

.filters__item {
  margin-right: 2px;
}

.filters__item:last-child {
  margin-right: 0;
}

.filters__toggle {
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters__toggle.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.filters__toggle:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

@media (max-width: 470px) {
  .filters {
    position: relative;
    order: 3;
    padding-top: 10px;
    width: 100%;
  }
}
