<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Test layout</title>
  </head>
  <body>
    <header class="header bottom-line">
      <h1 class="visually-hidden">Тестовый макет вёрстки</h1>
      <nav class="navigation">
        <img
          class="navigation__logo dark"
          src=""
          alt="Изображение логотипа сайта"
          title="Логотип сайта"
          width="120"
          height="110"
        />
        <div class="navigation__list">
          <div class="navigation__item dark"></div>
          <div class="navigation__item dark">
            <span class="font-light">+7 (499) 346-21-31</span>
            <a
              class="font-light"
              href="mailto:manager@pixelplus.ru"
              target="_blank"
              >manager@pixelplus.ru</a
            >
            <a
              class="font-light"
              href="https://www.pixelplus.ru"
              target="_blank"
              >www.pixelplus.ru</a
            >
          </div>
        </div>
      </nav>
    </header>
    <main class="content bottom-line">
      <aside class="aside">
        <div class="aside__info dark font-light">
          <h3 class="aside__header">Создание сайтов</h3>
          <ul class="aside__list">
            <li>Изготовление сайтов "под ключ"</li>
            <li>Как мы работаем</li>
            <li>Интеграция с 1С</li>
            <li>Поддержка сайтов</li>
            <li>Создание сайтов на Битрикс</li>
            <li>Модули Битрикс</li>
            <li>Купить Битрикс</li>
            <li>Дизайн сайтов</li>
            <li>Редизайн сайтов</li>
            <li>Интернет-магазины</li>
            <li>Создание логотипов</li>
          </ul>
        </div>
        <div class="aside__bottom dark"></div>
      </aside>
      <section class="about">
        <div class="about__info light">
          <h3>
            PSD файл с макетом. Макет разбит по слоям и сгруппирован по папкам:
          </h3>
          <ul class="about__list">
            <li>
              <b>- number</b> - нумерация блоков (номера блоков верстать не
              нужно)
            </li>
            <li>
              <b>- text</b> - текстовые блоки (шрифт Arial, размер 14 пикселей,
              межстрочное расстояние 22 пикселя)
            </li>
            <li><b>- head</b> - шапка сайта</li>
            <li>
              <b>- content</b> - контентная область, которая в свою очередь
              делится на left и center
            </li>
          </ul>
          <span>Текстовое описание задания и требования.</span>
        </div>
        <ul class="about__gallery row">
          <li class="col">
            <img
              class="light"
              src=""
              alt="Изображение-1"
              title="Изображение-1"
              width="133"
              height="150"
            />
          </li>
          <li class="col">
            <img
              class="light"
              src=""
              alt="Изображение-2"
              title="Изображение-2"
              width="133"
              height="150"
            />
          </li>
          <li class="col">
            <img
              class="light"
              src=""
              alt="Изображение-3"
              title="Изображение-3"
              width="133"
              height="150"
            />
          </li>
          <li class="col">
            <img
              class="light"
              src=""
              alt="Изображение-4"
              title="Изображение-4"
              width="133"
              height="150"
            />
          </li>
          <li class="col">
            <img
              class="light"
              src=""
              alt="Изображение-5"
              title="Изображение-5"
              width="133"
              height="150"
            />
          </li>
          <li class="col">
            <img
              class="light"
              src=""
              alt="Изображение-6"
              title="Изображение-6"
              width="133"
              height="150"
            />
          </li>
          <li class="col">
            <img
              class="light"
              src=""
              alt="Изображение-7"
              title="Изображение-7"
              width="133"
              height="150"
            />
          </li>
        </ul>
        <div class="about__adv">
          <div class="light">
            <span
              >Студия "Пиксель Плюс" разработает полнофункциональный продукт,
              ориентированный на целевую аудиторию и эффективно решающий
              поставленные перед ним маркетинговые задачи. Опыт работ и
              использование собственных технологий позволяет предлагать услугу
              изготовления сайта в Москве в разумные сроки.
            </span>
          </div>
          <div class="light">
            <span
              >Поисковое продвижение (раскрутка) ведется по коммерческим
              запросам, что позволяет многократно увеличить количество продаж с
              сайта при разумном рекламном бюджете</span
            >
          </div>
        </div>
      </section>
    </main>
    <footer class="footer font-light">
      <div class="footer__content dark">
        <ul class="footer__list">
          <li>Пункт 01</li>
          <li>Пункт 02</li>
          <li>Пункт 03</li>
          <li>Пункт 04</li>
          <li>Пункт 05</li>
          <li>Пункт 06</li>
          <li>Пункт 07</li>
          <li>Пункт 08</li>
          <li>Пункт 09</li>
          <li>Пункт 10</li>
          <li>Пункт 11</li>
          <li>Пункт 12</li>
          <li>Пункт 13</li>
          <li>Пункт 14</li>
        </ul>
      </div>
      <div class="footer__content dark">
        <ul class="footer__tarif">
          <li>Поисковое продвижение сайтов</li>
          <li>Тариф "Старт"</li>
          <li>Тариф "Продвижение плюс"</li>
          <li>Тариф "Интернет-магазин"</li>
          <li>Тариф "Эксклюзив"</li>
          <li>Тариф "Контекст + SEO"</li>
          <li>Тариф "Регион"</li>
        </ul>
      </div>
      <div class="footer__content footer__content--group">
        <div class="dark"></div>
        <img
          class="dark"
          src=""
          alt="Изображение"
          title="Изображение"
          width="310"
          height="80"
        />
      </div>
    </footer>
  </body>
</html>
