.view {
  position: relative;

  display: flex;
  align-items: center;
}

.todo-list li label {
  display: block;
  padding: 15px 45px 15px 60px;

  line-height: 1.2;
  word-break: break-all;
}

.todo-list li .delete::after {
  content: "×";
}

.todo-list li:hover .delete {
  display: block;
}

.delete {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 100%;
  margin: auto 0;

  font-size: 30px;
  color: #cc9a9a;

  transition: color 0.2s ease-out;
}

.delete:hover {
  color: #af5b5e;
}

.done {
  text-decoration: line-through;
}

.toggle {
  position: absolute;
  left: 20px;
  width: 1px;
  opacity: 0;
}

.todo-list .toggle + label {
  position: absolute;
  top: 10px;
  left: 10px;

  display: inline;
  width: 30px;
  height: 30px;
  padding: 0;
}

.todo-list .toggle + label:before {
  position: absolute;
  content: url("./round.svg");

  cursor: pointer;
}

.todo-list .toggle:checked + label:before {
  content: url("./round-check.svg");
}
